/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*MY CODE*/

body{
    font-family: 'Raleway', sans-serif;
}
.content{
    width: 1060px;
    margin: 0 auto;
}
/*HEADER*/
header{
    background-color: black;
    height: 41px;
}
header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 41px;
}
header span{
    color: rgb(68, 186, 158);
}
header .content{
    display: flex;
    justify-content: space-between;
}
header nav ul{
    display: flex;
}
header nav ul li{
    margin-left: 40px;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    z-index: 1000;
}
header nav ul li:first-child{
    margin-left: 0;
}
nav ul ul {
    top: 59px;
    left: -18px;
    background: #000000;
    position: absolute;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    display: none;

}
nav ul ul li{
    font-weight: lighter;
    font-size: 12px;
    margin: 0;

}

nav ul ul::after {
    background: black;
    content: ' ';
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: calc(50% - 10px);
    top: -10px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
nav ul li:hover ul{
    display: block;
}
#submenu{
    padding-top: 30px;
}

/*FIRST SECTION*/
section{
    height: 504px;
    background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(237,237,237,1) 47%, rgba(230,230,230,1) 66%, rgba(230,230,230,1) 100%);
}
section .content{
    position: relative;

}
section  img{
    position: absolute;
    top: 57px;
    height: 400px;
    left: -35px;
}

section h2 {
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 40px;
    margin-top: 45px;
    font-weight: normal;
}
section h2 span {
    color: rgb(68, 186, 158);
    font-weight: bold;
}

section .content div{
    height: 504px;
    width: 369px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    float: right;
    margin-right: 155px;
}
section .content div a{
    background-color: rgb(68, 186, 158);
    padding: 12px;
    color: white;
    margin: 30px 70px 40px 70px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 28px;
}
section .content div p{
    line-height: 25px
}
section .content div:before {
    content: '<';
    height: 50px;
    width: 50px;
    position: absolute;
    color: rgb(68, 186, 158);
    left: 0px;
    font-size: 85px;
    top: 198px;
    font-family: 'releway light' ;
}
section .content div:after {
    content: '>';
    height: 50px;
    width: 50px;
    position: absolute;
    color: rgb(68, 186, 158);
    right: 0;
    font-size: 85px;
    font-family: 'releway light';
    top: 198px;
}