/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*MY CODE*/

body{
    font-family: 'Raleway', sans-serif;
}
.content{
    width: 1060px;
    margin: 0 auto;
}
/*HEADER*/
header{
    background-color: black;
    height: 41px;
}
header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 41px;
}
header span{
    color: rgb(68, 186, 158);
}
header .content{
    display: flex;
    justify-content: space-between;
}
header nav ul{
    display: flex;
}
header nav ul li{
    margin-left: 40px;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    z-index: 1000;
}
header nav ul li:first-child{
    margin-left: 0;
}
nav ul ul {
    top: 59px;
    left: -18px;
    background: #000000;
    position: absolute;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    display: none;

}
nav ul ul li{
    font-weight: lighter;
    font-size: 12px;
    margin: 0;

}

nav ul ul::after {
    background: black;
    content: ' ';
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: calc(50% - 10px);
    top: -10px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
nav ul li:hover ul{
    display: block;
}
#submenu{
    padding-top: 30px;
}

/*FIRST SECTION*/
.notCarosell{
    height: 504px;
    background: linear-gradient(0deg, rgba(203,206,213,1) 0%, rgba(248,248,248,1) 100%);
}
.notCarosell .content{
    position: relative;

}
.notCarosell  img{
    position: absolute;
    top: 57px;
    height: 400px;
    left: -35px;
}

.notCarosell h2 {
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 40px;
    margin-top: 45px;
    font-weight: normal;
}
.notCarosell h2 span {
    color: rgb(68, 186, 158);
    font-weight: bold;
}

.notCarosell .content div{
    height: 504px;
    width: 369px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    float: right;
    margin-right: 155px;
}
.notCarosell .content div a{
    background-color: rgb(68, 186, 158);
    padding: 12px;
    color: white;
    margin: 30px 70px 40px 70px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 28px;
}
.notCarosell .content div p{
    line-height: 25px
}
.notCarosell .content div:before {
    content: '<';
    height: 50px;
    width: 50px;
    position: absolute;
    color: rgb(68, 186, 158);
    left: 0px;
    font-size: 85px;
    top: 198px;
    font-family: 'releway light' ;
}
.notCarosell .content div:after {
    content: '>';
    height: 50px;
    width: 50px;
    position: absolute;
    color: rgb(68, 186, 158);
    right: 0;
    font-size: 85px;
    font-family: 'releway light';
    top: 198px;
}
#firstphotolink{
    background: url("./images/box1_img.jpg") no-repeat center;
    width: 330px;
    height: 200px;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    margin-top: 30px;
}
#secondphotolink{
    background: url("./images/box2_img.jpg") no-repeat center;
    width: 330px;
    height: 200px;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    margin-top: 30px;
}
#shortarticle{
    width: 330px;
    height: 230px;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    margin-top: 30px;
    border: solid grey 1px;
    margin-bottom: 70px;
}

.linkedImages div{
    background: rgba(255,255,255,0.4);
    padding: 15px;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 15px;
}

.linkedImages div h2::after{
    content: ' ';
    display: block;
    width: 170px;
    height: 3px;
    background-color: rgb(68, 186, 158);
    padding: 2px;
}

.linkedImages a{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
}

.linktoArticles .content{
    display: flex;
    justify-content: space-between;
}

#shortarticle h2{
    margin-left: 10px;
    margin-bottom: 20px;
}

#shortarticle p{
    margin-left: 10px;
    margin-right: 47px;
    font-family: 'releway light';
    color: grey;
    font-size: 13px;
    line-height: 20px;
}
#shortarticle > div > p:nth-child(3){
    margin-bottom: -10px;
    margin-top: 10px;
}

/*===============================PLAN MENU=========================*/


.planMenu{
    background-color:#F1F1F1 ;
}

.planMenu p{
    padding: 5px;
}

.planMenu .content{
    height:725px;
    box-sizing: border-box;
}

.planContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}


.firstPlan{
    height:500px;
    width: 330px;
    border: #C2C2C2 solid 1px;
    position: relative;
    background-color: white;
}
.firstPlan:before{
    content: '';
    display: block;
    border-radius: 50px;
    height: 54px;
    width: 54px;
    position: absolute;
    background-color: white;
    border: 1px solid #969696;
    top: -38px;
    left: 50%;
    transform: translate(-50%);
}
.firstPlan:after{
    content: '';
    display: block;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    position: absolute;
    top: -22px;
    left: 50%;
    transform: translate(-50%);
    background-color:#969696 ;
}

.everyPlanHeader{
    font-weight: normal;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    margin-top: 28px;
    color:rgb(68, 186, 158) ;
}
.firstPlan .everyPlanHeader:after{
    content: '';
    display: block;
    height: 128px;
    width: 128px;
    border-radius: 50%;
    position: absolute;
    border: 1px solid #969696;
    color:#969696;
    top: 79px;
    left: 50%;
    transform: translate(-50%);
}

.planButton{
    width: 122px;
    height: 34px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color:rgb(68, 186, 158);
    position: absolute;
    left: 50%;
    margin-left: -61px;
    bottom: 20px;
    cursor: pointer;
}

.zakupTowaruTxt{
    font-size: 24px;
    margin-top: 190px;
    text-align: center;
    background-color: #E4E4E4;
    color: #969696;
}
.serwisTxt{
    font-size: 24px;
    text-align: center;
    color: #969696;
    background-color:#F1F1F1 ;

}

.secondPlan{
    height:500px;
    width: 330px;
    position: relative;
    background-color: rgb(68, 186, 158);
    border: 1px solid rgb(68, 186, 158);
}
.secondPlan .everyPlanHeader{
    color: white;
}

.gwarancjaTxt{
    font-size: 24px;
    text-align: center;
    background-color: #E4E4E4;
    color: #969696;
}

.secondPlan:after{
    content: '';
    display: block;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    position: absolute;
    top: -23px;
    left: 50%;
    transform: translate(-50%);
    background-color:white;
}
.secondPlan:before{
    content: '';
    display: block;
    border-radius: 50px;
    height: 54px;
    width: 54px;
    position: absolute;
    background-color: white;
    top: -38px;
    left: 50%;
    transform: translate(-50%);
    background-color:rgb(68, 186, 158) ;
}
#buttonSecondPlan{
    background-color:white ;
    color:rgb(68, 186, 158) ;
}
.secondPlan .everyPlanHeader:after{
    content: '';
    display: block;
    background-color:#F9F9F9;
    height: 128px;
    width: 128px;
    border-radius: 50%;
    position: absolute;
    color:rgb(68, 186, 158);
    top: 79px;
    left: 50%;
    transform: translate(-50%);
}

.thirdPlan{
    height:500px;
    width: 330px;
    border: #C2C2C2 solid 1px;
    position: relative;
    background-color: white;
}


.poradyTxt{
    font-size: 24px;
    text-align: center;
    background-color:#F1F1F1 ;
    color: #969696;
}

.thirdPlan:before{
    content: '';
    display: block;
    border-radius: 50px;
    height: 54px;
    width: 54px;
    position: absolute;
    background-color: white;
    border: 1px solid #969696;
    top: -38px;
    left: 50%;
    transform: translate(-50%);
}
.thirdPlan:after{
    content: '';
    display: block;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    position: absolute;
    top: -22px;
    left: 50%;
    transform: translate(-50%);
    background-color:#969696 ;
}

.thirdPlan .everyPlanHeader:after{
    content: '';
    display: block;
    height: 128px;
    width: 128px;
    border-radius: 50%;
    position: absolute;
    border: 1px solid #969696;
    color:#969696;
    top: 79px;
    left: 50%;
    transform: translate(-50%);
}

#prices{
    border-bottom: 8px solid rgb(68, 186, 158);
    color: #535353;
    font-weight: normal;
    font-size: 24px;
    text-transform: uppercase;
    padding-top: 45px;
    width: 320px;
}

/*============TEST================*/

.contact {
    height: 550px;
    position: relative;
}
.contact h2 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
    color: #535353;
    letter-spacing: 1px;
    padding: 40px 0;
    width: 100%;
}

.contact  h2:before {
    content: "";
    height: 8px;
    width: 330px;
    background: #2AC6AE;
    display: block;
    box-sizing: border-box;
    position: relative;
    top: 33px;
}

.inputForm{
    width: 635px;
    height: 65px;
    font-size: 32px;
    color: #535353;
    border: 1px solid rgb(68, 186, 158);
    margin-top: 14px;
    margin-bottom: 11px;

}
.inputForm::placeholder{
    color: #CBCBCB;
}

#textareaForm{
    resize: none;
    width: 631px;
    height: 190px;
    font-size: 32px;
    color: #535353;
    border: 1px solid rgb(68, 186, 158);
    margin-top: 14px;
}
#textareaForm::placeholder{
    color: #CBCBCB;
}
#redChairImg{
    position: absolute;
    bottom: 243px;
    right: 472px;
}
#submitButton{
    text-transform: uppercase;
    width: 342px;
    height: 70px;
    background-color:rgb(68, 186, 158);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
    color: white;
    position: absolute;
    right: 414px;
    bottom: 42px;
}
#sendData{
    display: inline;
    position: absolute;
    font-size: 18px;
    width: 285px;
    bottom: 150px;
    right: 409px;
}
#onlyCheckbox{
    display: none;
}
#checkedImage{
    position: absolute;
    height: 48px;
    width: 47px;
    bottom: 150px;
    right: 715px;
    border: 1px solid rgb(68, 186, 158);
}
footer{
    height: 100px;
}
footer .content{
    display: flex;
    justify-content: space-between;
}
.copyrights{
    line-height: 100px;
}
.footerImgs p{
    float: right;
    line-height: 100px;
    color: #9E9E9E;
}
.footerImgs span{
    font-weight: bold;

}

footer h3{
    color: #9E9E9E;
    font-weight: normal;
}

.footerImgs img{
    margin-top: 25px;
}
.footerImgs img:nth-last-of-type(1){
    margin-right: 112px;
}